<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.webblog.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.yj.webblog.model.domain.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="github" jdbcType="VARCHAR" property="github" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="personal_web" jdbcType="VARCHAR" property="personalWeb" />
    <result column="profile_img" jdbcType="VARCHAR" property="profileImg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, gender, age, brief, city, school, github, mobile_phone, email, personal_web, 
    profile_img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yj.webblog.model.domain.UserInfo">
    insert into user_info (id, user_id, gender, 
      age, brief, city, school, 
      github, mobile_phone, email, 
      personal_web, profile_img)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{gender,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{brief,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{github,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{personalWeb,jdbcType=VARCHAR}, #{profileImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yj.webblog.model.domain.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="brief != null">
        brief,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="github != null">
        github,
      </if>
      <if test="mobilePhone != null">
        mobile_phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="personalWeb != null">
        personal_web,
      </if>
      <if test="profileImg != null">
        profile_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="github != null">
        #{github,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="personalWeb != null">
        #{personalWeb,jdbcType=VARCHAR},
      </if>
      <if test="profileImg != null">
        #{profileImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yj.webblog.model.domain.UserInfo">
    update user_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="github != null">
        github = #{github,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="personalWeb != null">
        personal_web = #{personalWeb,jdbcType=VARCHAR},
      </if>
      <if test="profileImg != null">
        profile_img = #{profileImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yj.webblog.model.domain.UserInfo">
    update user_info
    set user_id = #{userId,jdbcType=INTEGER},
      gender = #{gender,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      brief = #{brief,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      github = #{github,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      personal_web = #{personalWeb,jdbcType=VARCHAR},
      profile_img = #{profileImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.yj.webblog.model.domain.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="github" jdbcType="VARCHAR" property="github" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="personal_web" jdbcType="VARCHAR" property="personalWeb" />
    <result column="profile_img" jdbcType="VARCHAR" property="profileImg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, gender, age, brief, city, school, github, mobile_phone, email, personal_web, 
    profile_img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yj.webblog.model.domain.UserInfo">
    insert into user_info (id, user_id, gender, 
      age, brief, city, school, 
      github, mobile_phone, email, 
      personal_web, profile_img)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{gender,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{brief,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{github,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{personalWeb,jdbcType=VARCHAR}, #{profileImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yj.webblog.model.domain.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="brief != null">
        brief,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="github != null">
        github,
      </if>
      <if test="mobilePhone != null">
        mobile_phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="personalWeb != null">
        personal_web,
      </if>
      <if test="profileImg != null">
        profile_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="github != null">
        #{github,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="personalWeb != null">
        #{personalWeb,jdbcType=VARCHAR},
      </if>
      <if test="profileImg != null">
        #{profileImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yj.webblog.model.domain.UserInfo">
    update user_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="github != null">
        github = #{github,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="personalWeb != null">
        personal_web = #{personalWeb,jdbcType=VARCHAR},
      </if>
      <if test="profileImg != null">
        profile_img = #{profileImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yj.webblog.model.domain.UserInfo">
    update user_info
    set user_id = #{userId,jdbcType=INTEGER},
      gender = #{gender,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      brief = #{brief,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      github = #{github,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      personal_web = #{personalWeb,jdbcType=VARCHAR},
      profile_img = #{profileImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>